/* Coolors Exported Palette - https://coolors.co/eaeaea-d7c9e7-c4a8e3-b188e0-9d67dc-8a46d9-7725d5 */

/* CSS HEX */
--platinum: #EAEAEAff; /*#ffffff #f5f6f7 */
--languid-lavender: #D7C9E7ff; /* #eff1f2 */
--wisteria: #C4A8E3ff; /* */
--lavender-floral: #B188E0ff;
--amethyst: #9D67DCff; /* #f67878 */
--blue-violet: #8A46D9ff; /* #f56a6a */
--french-violet: #7725D5ff; /* #f45c5c */

/* CSS HSL */
--platinum: hsla(0, 0%, 92%, 1);
--languid-lavender: hsla(268, 38%, 85%, 1);
--wisteria: hsla(268, 51%, 77%, 1);
--lavender-floral: hsla(268, 59%, 71%, 1);
--amethyst: hsla(268, 63%, 63%, 1);
--blue-violet: hsla(268, 66%, 56%, 1);
--french-violet: hsla(268, 70%, 49%, 1);

/* SCSS HEX */
$platinum: #EAEAEAff;
$languid-lavender: #D7C9E7ff;
$wisteria: #C4A8E3ff;
$lavender-floral: #B188E0ff;
$amethyst: #9D67DCff;
$blue-violet: #8A46D9ff;
$french-violet: #7725D5ff;

/* SCSS HSL */
$platinum: hsla(0, 0%, 92%, 1);
$languid-lavender: hsla(268, 38%, 85%, 1);
$wisteria: hsla(268, 51%, 77%, 1);
$lavender-floral: hsla(268, 59%, 71%, 1);
$amethyst: hsla(268, 63%, 63%, 1);
$blue-violet: hsla(268, 66%, 56%, 1);
$french-violet: hsla(268, 70%, 49%, 1);

/* SCSS RGB */
$platinum: rgba(234, 234, 234, 1);
$languid-lavender: rgba(215, 201, 231, 1);
$wisteria: rgba(196, 168, 227, 1);
$lavender-floral: rgba(177, 136, 224, 1);
$amethyst: rgba(157, 103, 220, 1);
$blue-violet: rgba(138, 70, 217, 1);
$french-violet: rgba(119, 37, 213, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #EAEAEAff, #D7C9E7ff, #C4A8E3ff, #B188E0ff, #9D67DCff, #8A46D9ff, #7725D5ff);
$gradient-right: linear-gradient(90deg, #EAEAEAff, #D7C9E7ff, #C4A8E3ff, #B188E0ff, #9D67DCff, #8A46D9ff, #7725D5ff);
$gradient-bottom: linear-gradient(180deg, #EAEAEAff, #D7C9E7ff, #C4A8E3ff, #B188E0ff, #9D67DCff, #8A46D9ff, #7725D5ff);
$gradient-left: linear-gradient(270deg, #EAEAEAff, #D7C9E7ff, #C4A8E3ff, #B188E0ff, #9D67DCff, #8A46D9ff, #7725D5ff);
$gradient-top-right: linear-gradient(45deg, #EAEAEAff, #D7C9E7ff, #C4A8E3ff, #B188E0ff, #9D67DCff, #8A46D9ff, #7725D5ff);
$gradient-bottom-right: linear-gradient(135deg, #EAEAEAff, #D7C9E7ff, #C4A8E3ff, #B188E0ff, #9D67DCff, #8A46D9ff, #7725D5ff);
$gradient-top-left: linear-gradient(225deg, #EAEAEAff, #D7C9E7ff, #C4A8E3ff, #B188E0ff, #9D67DCff, #8A46D9ff, #7725D5ff);
$gradient-bottom-left: linear-gradient(315deg, #EAEAEAff, #D7C9E7ff, #C4A8E3ff, #B188E0ff, #9D67DCff, #8A46D9ff, #7725D5ff);
$gradient-radial: radial-gradient(#EAEAEAff, #D7C9E7ff, #C4A8E3ff, #B188E0ff, #9D67DCff, #8A46D9ff, #7725D5ff);
